.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 0 auto;
	align-items: center;

	height: 100vh;
}
.wrapper::before {
	content: "";
	background-image: url("../../picture/bg-auth.webp");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 100%;
	z-index: -2;
	filter: blur(10px);
}
.content_signIn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
	padding: 0.8rem;
	width: 50%;
}

.login_page_wrapper {
	background-color: rgba(0, 0, 0, 0.74);
	border-radius: 16px;
	box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
	padding: 2.5rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.login_page_form {
	width: 100%;
}

.login_page_form_head {
	text-align: center;
	margin-bottom: 2.5rem;
}

.login_page_form_head_title {
	color: #d1d0cf;
	margin-bottom: 1.9rem;
	font-size: 2rem;
}
.login_page_form_head_link {
	color: #d1d0cf;
	font-weight: 200;
	font-size: 13px;
}
.login_page_form_item {
	margin-bottom: 2.5rem;
	position: relative;
}
.login_page_form_item_label {
	color: #d1d0cf;
	font-weight: 200;
	font-size: 13px;
	margin-bottom: 0.5rem;
}

.login_page_form_item_input {
	display: block;
	width: 100%;
	padding: 0.825rem 1.5rem;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #d1d0cf;
	background-color: #222222;
	background-clip: padding-box;
	border: 1px solid #222222;
	appearance: none;
	border-radius: 0.475rem;
	box-shadow: none;
	transition: color 0.2s ease, background-color 0.2s ease;
	min-height: calc(1.5em + 1.65rem + 2px);
}

.login_page_form_actions_submit {
	display: inline-block;
	font-weight: 500;
	line-height: 1.5;
	color: #1b1b1b;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: #eec932;
	border: 0;
	padding: calc(0.825rem + 1px) calc(1.75rem + 1px);
	font-size: 15px;
	border-radius: 0.475rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 100%;
	margin-bottom: 1.25rem;
	outline: 0;
	box-shadow: none;
}
