#masthead {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 999;
	background: linear-gradient(to bottom, rgba(0, 0, 0) 0px, transparent);
	top: 0;
	display: flex;
	justify-content: space-between;
	gap: 50px;
	align-items: center;
	padding: 0px 20px;
	height: 60px;
}
.logo {
	height: 80%;
}

.logo img {
	height: 100%;
	padding-top: 0.5rem;
}
.navigate > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 50px;
	margin: 0;
}

.navigate ul li a {
	text-decoration: none;
	color: #d1d0cf;
	cursor: pointer;
	font-size: 16px;
	transition: 0.5s;
}

.navigate ul li a:hover {
	color: #fff;
}
.navigate ul li:hover .UlExtension {
	display: block;
}
.UlExtension {
	width: 220px;
	height: auto;
	background-color: #141414;
	color: #fff;
	background: (rgba(0, 0, 0, 0.88));
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 12px 12px;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
	position: absolute;
	display: none;
}
.UlExtension li {
	padding: 10px 10px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 14px;
	color: #fff;
}
.UlExtension li:hover {
	background-color: #fcd535;
	color: black;
	width: 100%;
	border-radius: 10px;
	padding: 10px 10px;
	transition: 0.5s;
}
.navAnchor {
	position: relative;
}

.ant-btn.ant-btn-primary.ant-btn-lg {
	color: black;
	background-color: #fcd535;
	border-radius: 13px;
	border: 1px solid #fcd535;
	padding: 5px 10px;
}
.ant-btn.ant-btn-primary.ant-btn-lg:hover {
	background-color: #ffee5b;
	color: black;
	border: 1px solid #ffee5b;
	transition: 0.5s;
}
.navBtn-container {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.navBtn-container button {
	cursor: pointer;
}
.ant-btn > .anticon + span {
	font-size: 13px;
}

.anticon.anticon-user,
.anticon.anticon-search {
	padding-left: 5px;
}

.anticon.anticon-logout {
	color: tomato !important;
	font-size: 20px !important;
	padding-top: 10px !important;
	cursor: pointer;
}

/* search  */
